<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vinjcent.mapper.UserMapper">

    <!--单表缓存中能够正常使用-->
    <cache type="com.vinjcent.cache.RedisCache"/>

    <!--关联关系缓存处理-->
    <!--在redis当中,以关联的mapper作为键值存入value-->
    <!--<cache-ref namespace="与之关联的mapper接口"/>-->

    <delete id="deleteUserById">
        delete from user where id = #{id}
    </delete>

    <select id="queryAllUsers" resultType="User">
        select id, name, username, password from user
    </select>

</mapper>